{% extends "base.html" %}

{% block content %}
<h1>Sign up</h1>

{% include "snippets/form_errors.html %}

<form method="POST">
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="your@email.com"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password"/>
    </div>

    <div>
        <label for="password_confirm">Confirm Password</label>
        <input id="password_confirm" type="password" name="password_confirm" placeholder="Your password"/>
    </div>
    <button type="submit">Sign Up</button>
</form>
{% endblock %}