<div>
    {% include "snippets/form_errors.html" %}

    <form method="post">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="title" placeholder="Your title" value="{{ title|e }}" required="required" />
        </div>

        <div>
            <label for="url">Youtube Link</label>
            <input id="url" type="text" name="url" placeholder="https://youtube.com/watch?v=" value="{{ url|e }}" />
        </div>

        <button type="submit">Add video</button>
    </form>
</div>